[Desktop Entry]
Type=Application
Name=fura music
Comment=Desktop music client
Exec=flutterustmusic
Icon=com.fura.flutterustmusic
Terminal=false
Categories=AudioVideo;Audio;Player;
StartupNotify=true
StartupWMClass=com.fura.flutterustmusic
